html , body{
    background-color: #000000 !important;
}


.brand-logo img{
    width: 100px;
    border-radius: 100px;
}
.navview{
    gap: 60px;
}
.intro-clip{
    top: 0px;
    z-index: 1;
}
.navview a{
    color: #ffff !important;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none !important;
}
.mainframe{
    height: 854px !important;
}
.wave-text span {
    display: inline-block;
    font-size: 200px;
    color: #ffff;
    animation: wave 2s ease-in-out infinite;
}
.wave-container{
    top: 170px;
    z-index: 1;
}
.wave-text span{
    background-image: linear-gradient(#FFFFFF , #000000);
    color: transparent;
    background-clip: text;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #fff;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
.wh-title h2 , .mission-title h2 , .portfolio-title h2{
    font-size: 50px;
    font-weight: 650;
    background-image: linear-gradient(#FFFFFF , #000000);
    color: transparent;
    background-clip: text;
    margin-bottom: 50px;

}
.wh-explain p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
}
.whoweare , .missionsec , .portfoliosec , .footer-sec{
    padding: 80px 0px;
    background-color: #000000;
    color: white;
}
.whowe img{
    object-fit: cover;
}
.pv video{
    height:500px;
    width: 100%;
}
.inpt-grp input , .inpt-grp select , .inpt-grp textarea {
    border: 2px solid #fff;
    background-color: #000000;
    color: white;
    margin: 20px 0px;
    padding: 20px;
}
.inpt-grp input::placeholder , .inpt-grp textarea::placeholder{
    color: #fff;
}
.form-table{
    width: 1000px;
}
.submit-btn button{
    width: 300px;
    padding: 15px 0px;
    font-weight: 650;
}
.brand-img{
    width: 200px;
}
.eq-send{
    top: 0px;
    right: 0px;
    background-color: #fff;
    border-radius: 0px;
 
    

}
.eq-send button , .eq-send button:hover{
    font-weight: 600;
    color: #000000 ;
}
.eq-type input ,.eq-type input:focus{
    background-color: #000000;
    border: 2px solid #ffff;
    border-radius: 0px;
    color: #fff;
}
.footer-title{
    padding: 30px 0px
}
.wt-img{
    width: 120px;
    object-fit: contain;
    background-color: #fff;
    padding: 20px;
    border-radius: 80px; 
}
.free{
    padding-top: 100px;
}
.wt-info{
    width: 700px;
}
.wt-info h5{
    font-size: 20px;
}
.heading-name h2{
    font-size: 48px;
    font-weight: 700;
}
.serv-box{
    height: 400px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.serv-img img{
    height: 270px !important;
    cursor: pointer;
    border-radius: 20px 20px 0px 0px;
}
.serv-box:hover .serv-overlay{
    height: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.serv-overlay{
    top: 0px;
    width: 100%;
    height: 0px;
    border-radius: 20px 20px 0px 0px;
    background: #3c3a3acc;
    transition: all 0.5s ease-in-out;
}
.serv-info{
    text-align: center;
    cursor: pointer;
}
.serv-info p{
    font-size: 20px;
    line-height: 25px;
    padding: 15px;
}
.serv-title {
    top: 120px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 650;
    display: none;
    transition: all 3s ease-in-out;
    cursor: pointer;
}
.serv-box:hover .serv-title{
    display: block;
    transition: all 3s ease-in-out;
   
}