
.brand-logo img{
    width: 100px;
    border-radius: 100px;
}
.navview{
    gap: 60px;
}
.intro-clip{
    top: 0px;
    z-index: -1;
}
.navview a{
    color: #ffff !important;
    font-weight: 700;
    font-size: 18px;
}
.mainframe{
    height: 854px !important;
}
.wave-text span {
    display: inline-block;
    font-size: 200px;
    color: #ffff;
    animation: wave 2s ease-in-out infinite;
}
.wave-container{
    top: 170px;
}
.wave-text span{
    background-image: linear-gradient(#FFFFFF , #000000);
    color: transparent;
    background-clip: text;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.mouse {
	width: 50px;
	height: 90px;
	border: 3px solid #fff;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 12px;
		height: 12px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #fff;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}
.wh-title h2 , .mission-title h2 , .portfolio-title h2{
    font-size: 50px;
    font-weight: 650;
    background-image: linear-gradient(#FFFFFF , #000000);
    color: transparent;
    background-clip: text;
    margin-bottom: 90px;

}
.wh-explain p{
    font-size: 20px;
    font-weight: 400;
    margin: 15px 0px;
}
.whoweare , .missionsec , .portfoliosec{
    padding: 80px 0px;
    background-color: #000000;
    color: white;
}
.whowe img{
    object-fit: cover;
}
.pv video{
    height:500px;
    width: 100%;
}